<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>India</string>
	<string>United Kingdom</string>
	<string>France</string>
	<string>Canada</string>
	<string>South Korea</string>
	<string>Mexico</string>
	<string>Russia</string>
	<string>Australia</string>
	<string>Germany</string>
	<string>China</string>
	<string>Turkey</string>
	<string>United States</string>
	<string>South Africa</string>
	<string>Brazil</string>
	<string>Indonesia</string>
	<string>China</string>
	<string>Indonesia</string>
	<string>Japan</string>
	<string>Italy</string>
	<string>Spain</string>
</array>
</plist>
